<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>axx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AxCryptIcon128</string>
			<key>CFBundleTypeName</key>
			<string>AxCrypt Document</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.tretton37.axantum.axcrypt-document</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/axcrypt-document</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>AxCryptIcon128</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AxCryptIcon128.icns</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.tretton37.Axantum.AxCrypt.Mac</string>
	<key>CFBundleName</key>
	<string>AxCrypt</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIconFile</key>
			<string>AxCryptIcon128</string>
			<key>UTTypeDescription</key>
			<string>AxCrypt Document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>axx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/axcrypt-document</string>
				</array>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.tretton37.axantum.axcrypt-document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeReferenceURL</key>
			<string>http://www.axantum.com/</string>
		</dict>
	</array>
</dict>
</plist>
